---
layout: default
---

<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">

            <div class="example-wrapper">
                <div class="col-wrapper clearfix">
                    <div class="col one-half">
                        {% include example1.html %}
                    </div>
                    <div class="col one-half">
                        <p style="font-size: 1.3em; font-weight: bold;">Features:</p>
                        <ul class="tldr-list">
                            <li>NO Dependencies</li>
                            <li>Simple 'drag' window for touch devices</li>
                            <li>Uses CSS3 for positioning</li>
                            <li>Great performance on Mobile</li>
                            <li>Awesome Browser Support (IE7 +)</li>
                            <li>Low-level, API focused approach</li>
                            <li>Only <strong>2.4kb</strong> (min & gzipped)</li>
                        </ul>
                    </div>
                </div>

            <h2>How to use</h2>
                <p>Include the Javascript file at the bottom of your page, followed by your own...</p>
{% highlight javascript %}
            ...
        <script src="closeup.min.js"></script>
        <script src="yourapp.js"></script>
    </body>
</html>
{% endhighlight %}

                <p>... in which you'll have something like this:</p>

            <h3><strong>JS</strong></h3>

{% highlight javascript %}
{% include example1.js %}
{% endhighlight %}

            <h3><strong>HTML</strong></h3>

            <p>Note that the height & width of the image is set in this example.</p>

{% highlight html %}
{% include example1.html %}
{% endhighlight %}


            <h3><strong>SCSS/LESS</strong></h3>
{% highlight scss %}
{% include _example1.scss %}
{% endhighlight %}

            </div>

            {% include example-list.html %}

        </section>

        {% include sidebar.html %}

    </div>
</div>


<script type="text/javascript">
    {% include example1.js %}
</script>
