.zoom-window {
    &:hover {
        cursor: crosshair;
    }
    img {
        transition: opacity .5s;
    }
    margin: 0 auto;
}

.zoom-loader {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: none;
    text-align: center;
    background: rgba(white, .9);
}