<div id="example1" class="zoom-window">
    <img src="../images/image1-small.jpg"
         id="img1"
         height="300"
         width="300"
         alt="Nice Kittenz"/>
</div>

<div class="thumbs" id="thumbs">
    <a href="../images/image1-small.jpg" class="active">
        <img src="../images/image1-thumb.jpg" width="70" height="70" data-zoom-image="../images/image1-large.jpg" />
    </a>
    <a href="../images/image2-small.jpg">
        <img src="../images/image2-thumb.jpg" width="70" height="70" data-zoom-image="../images/image2-large.jpg" />
    </a>
</div>